@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  .content{
    @apply mx-auto max-w-7xl w-full md:w-11/12 text-white;
  }
}

.hero-section {
  display: flex;
  position: relative;
  margin-top: 0px !important;
  padding: 0 50px;
  width: 100%;
  height: 800px;
  background-image: url('./heroBg.png');
  background-size: cover;
  background-position: center;
}

#hero-section-title {
  transform: translate(-50%, -50%);
}

.hero-section-title {
/*  position: absolute;*/
/*  top: 20%;*/
/*  left: 2.2%;*/
/*  padding: 1rem;*/
  animation: zoomIn 3s ease-out;
}

@keyframes zoomIn {
  0% {
    /*top: 50%;
    left: 50%;*/
    transform: scale(0.5);
  }
  25% {
    /*top: 50%;
    left: 50%;*/
    transform: scale(1.5);
  }
  75% {
    /*top: 34.8%;
    left: 11.4%;*/
    transform: scale(1);
  }
  100% {
    /*top: 34.8%;
    left: 11.4%;*/
    transform: scale(1);
  }
}

.hero-section-sub-primary {
  animation: moveInLeft 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-section-sub-secondary {
/*  opacity: 0;*/
  animation: moveInFromBottom 1s ease-out;
}

.hero-section-sub-tertiary {
/*  opacity: 0;*/
  animation: moveInFromTop 1s ease-out;
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-section-image {
/*  opacity: 0;*/
}

.linear-gradient {
  background: linear-gradient(107.83deg, #CA86FF 23.83%, #85E2FD 75.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient {
  border-width: 2px; /* Ensure border width is defined */
  border-style: solid; /* Ensure border style is set */
  border-color: linear-gradient(107.83deg, #CA86FF 23.83%, #85E2FD 75.66%);
  border-radius: 9999px; /* Fully rounded border for pill shape */
}

.overview-section {
  display: flex;
  position: relative;
  margin-top: 0px !important;
  width: 100%;
  height: 96px;
  padding: 24px 80px;
  background: #1C1B1B;
  border-bottom: 1px solid #4D4D4D;
}

.overview-two-section {
  position: relative;
  margin-top: 0px !important;
  width: 100%;
  height: 722px;
  padding: 120px 80px;
  background: #1C1B1B;
}

.overview-two-section-title {
  animation: moveInLeft 1s ease-out;
}

.overview-two-section-primary {
  animation: moveInFromBottom 1s ease-out;
}

.overview-two-section-card {
  padding: 40px;
  border: 1px solid rgba(202, 134, 255, 0.1);
  border-radius: 16px;
  margin: 0 25px;
/*  border-image-source: linear-gradient(107.83deg, rgba(202, 134, 255, 0.1) 23.83%, rgba(133, 226, 253, 0.1) 75.66%);*/
}

.amoled-display-section {
  display: flex;
  position: relative;
  margin-top: 80px !important;
  padding: 0 50px;
  width: 100%;
  height: 800px;
  background-image: url('./AmoledDisplay.jpg');
  background-size: cover;
  background-position: center;
}

.amoled-display-section-phone {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.amoled-display-section-phone img {
  transform: scale(1.05);
}

.amoled-display-section-text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.amoled-display-section-text img {
  opacity: .5;
  transform: scale(1.2);
}

.new-vision-section {
  display: flex;
  position: relative;
  margin-top: 0px !important;
  padding: 0 50px;
  width: 100%;
  height: 800px;
  background-color: #000000;
}

.immersive-entertainment-section {
/*  display: flex;*/
  position: relative;
  margin-top: 0px !important;
  width: 100%;
  text-align: center;
}

.immersive-entertainment-section h2 {
  width: 100%;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.picture-perfect-section {
  display: flex;
  position: relative;
  margin-top: 0px !important;
  padding: 120px;
  width: 100%;
  height: 800px;
  background-image: url('./PicturePerfect.svg');
  background-size: cover;
  background-position: center;
}

.snap-flawless-selfie-section {
  display: flex;
  position: relative;
  margin-top: 0px !important;
  padding: 120px;
  width: 100%;
  height: 800px;
  background-image: url('./SnapFlawlessSelfie.png');
  background-size: cover;
  background-position: center;
}

.unlock-touch-section {
  display: flex;
  position: relative;
  margin-top: 0px !important;
  padding: 120px;
  width: 100%;
  height: 800px;
  background-image: url('./UnlockTouch.png');
  background-size: cover;
  background-position: center;
}

.thin-design-section {
  display: flex;
  position: relative;
  margin-top: 0px !important;
  padding: 120px;
  width: 100%;
  height: 800px;
  background-image: url('./ThinDesign.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.blog-cards-section {
  position: relative;
  margin-top: 0px !important;
  padding: 120px 80px;
}

.blog-cards-section div:nth-child(2) {
  background-image: url('./BlogCardsTwo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.blog-cards-section div:nth-child(3) {
  background-image: url('./BlogCardsThree.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.blog-cards-section div:nth-child(4) {
  background-image: url('./BlogCardsFour.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

.blog-cards-section div:nth-child(5) {
  background-image: url('./BlogCardsFive.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

@media (max-width: 768px) {
  .hero-section {
    display: block;
    padding: 20px 0 0 0;
    height: 585px;
  }

  .overview-section {
    padding: 12px 16px;
  }

  .overview-two-section {
    height: 1100px;
    padding: 40px 16px;
  }

  .overview-two-section-card {
    padding: 16px;
    margin: 16px 0;
  }

  .amoled-display-section {
    margin-top: 48px !important;
    height: 330px;
  }

  .amoled-display-section-phone {
    top: 60%;
  }

  .amoled-display-section-phone img {
    transform: scale(1.75);
  }

  .amoled-display-section-text img {
    transform: scale(1.2);
  }

  .new-vision-section {
    display: block;
    padding: 12px 16px;
    height: 472px;
  }

  .snap-flawless-selfie-section {
    padding: 12px 16px;
    height: 468px;
  }

  .unlock-touch-section {
    padding: 12px 16px;
    height: 465px;
  }

  .blog-cards-section {
    padding: 40px 16px;
  }

}

.animate-fade-in {
  animation: fadeIn 0.5s forwards;
}

.animate-slide-down {
  animation: slideDown 0.5s forwards;
}

.animate-slide-up {
  animation: slideUp 0.5s forwards;
}

.video-animate-slide-up {
  animation: videoAnimate 0.5s forwards;
}

@keyframes videoAnimate {
  from {
    opacity: 0;
    transform: scaleX(0.5) translateX(-20px);
  }
  to {
    opacity: 1;
    transform: scaleX(1) translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
