@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  .content{
    @apply mx-auto max-w-7xl w-full md:w-11/12 text-white;
  }
}

.linear-gradient {
  background: linear-gradient(107.83deg, #CA86FF 23.83%, #85E2FD 75.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slick-dots li, .slick-dots li button {
  background-color: #ffffff !important; /* Set the background color */
  opacity: 0.4;
  width: 10px !important;
  height: 4px !important;
}

.slick-dots li.slick-active, .slick-dots li.slick-active button {
  width: 60px !important;
}

.slick-dots li button:before {
  content: '' !important;
  opacity: 0;
}

.primaryAnimation {
  animation: primaryAnimationFrame 2.5s ease-out;
  backface-visibility: hidden;
}

@keyframes primaryAnimationFrame {
  0% {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
  }
  90% {
    position: absolute;
    left: 175px;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    position: absolute;
    left: 175px;
    transform: translate(-50%, -50%);
  }
}